<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{- block "title" . }}{{ .Site.Title }}{{ end -}}
  </title>
  {{ $style := resources.Get "css/style.css" | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
</head>

<body class="font-sans dark:text-white dark:bg-black">
  {{ block "header" . }}
  {{ partial "header.html" . }}
  {{ end }}

  {{ block "main" . }}
  <main>
    <h1>No content</h1>
  </main>
  {{ end }}

  {{ block "footer" . }}
  {{ end }}
</body>

</html>
